.foto-head{
    background-image: url("fondo.jpg");
}
h1{ color:rgb(187, 68, 241);font-size: 50px;}
h2{color: #c10a48; font-size: 30px;}
h4{color: #d65f87; font-size: 30px;}
div{
    background-color: #fddbe0;
}
.imagen-petrak{
    width: 75px;
}
.imagen-marelli{
    width: 50px;
}
.imagen-Universidad{
    width: 50px;
}
.imagen-Consejo{
    width: 50px;
}
.imagen-foto{
    width: 150px;
}

.acerca{
    background-color: #fab9c3;
}
.experiencia{
    background-color: #fa9fad;
}
.educacion{
    background-color: #fd8f9f;
}