.foto-head{
    background-image: url("fondo.jpg");
}
h1{
    color:rgb(187 15 63);
    font-size: 50px;
    margin-block: -2px;
    padding: 1px;
}
h2{
    color: #c10a48; 
    font-size: 30px;
}
h4{
    color: #d65f87; 
    font-size: 20px;
    margin-block: -0.01px;
}
div{
    min-height: 200px;
    background-color: #fac8cf;
    padding-left: 100px;
    padding-top: 10px;
}
.imagen-petrak{
    width: 75px;
}
.imagen-marelli{
    width: 50px;
}
.imagen-Universidad{
    width: 50px;
}
.imagen-Consejo{
    width: 50px;
}
.imagen-foto{
    width: 200px;
    border-radius: 90%;
    margin-top: -70px;
    margin-left: -50px;
}

.acerca{
}
.experiencia{
}
.educacion{
}